<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-5">
      <form style="text-align:center" class="form">
        <div class="form-group">
          <!-- <option value="Cattle House Operator">
          <option value="Tennary Factory Operator">
          <option value="Slaughter House Operator">
          <option value="Production Manager"> -->
            <label *ngIf="userRole == 'Production Manager'" for="id">Product ID</label>
            <label *ngIf="userRole == 'Cattle House Operator'" for="id">Cattle ID</label>
            <label *ngIf="userRole == 'Tennary Factory Operator'" for="id">Leather ID</label>
            <label *ngIf="userRole == 'Slaughter House Operator'" for=" id">Rawhides ID</label>
            <input type="text" class="form-control" id="id" [(ngModel)]="givenBook.id"
              [ngModelOptions]="{standalone: true}" />
        </div>
        <div class="form-group">
          <label for="name">Current Sector</label>

          <input type="text" class="form-control" id="name" [(ngModel)]="givenBook.name"
            [ngModelOptions]="{standalone: true}" />
        </div>


        <div class="form-group">
          <label for="name">Transfer to</label>
          <input type="text" class="form-control" id="year" placeholder="XYZ Industries" />
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-control-check" id="avability" [(ngModel)]="givenBook.availability"
            [ngModelOptions]="{standalone: true}" />
          <label for="name">Status</label>
        </div>
        <button type="submit" (click)="updateBook()" class="btn btn-success">Transfer</button>
      </form>

    </div>
    <div class="col">
    </div>
  </div>
</div>